#fast {
  font-size: 75px;
  font-weight: 800;
  color: #ff7e00;
}
.briyani-img {
  width: 13%;
}
.quantity {
  margin-top: 100px;
}
.num {
  margin-top: 30px;
  color: #ff7e00;
  background-color: antiquewhite;
  border-radius: 5px;
}
.img {
  height: 100%;
  width: 100%;
}
.input {
  border: none;
}
#submit {
  background-color: #ff7e00;
  width: 70%;
  color: bisque;
  font-weight: 600;
}
#footer-section {
  width: 100%;
  height: 582px;
  background-color: #1e2833;
}
